/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: themillion;
  }
  
  @font-face {
    font-family: themillion;
    src: url(/Fonts/Chivo-ExtraLight.ttf);
  }
  
  /* Estilos generales */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  header {
    background-color: #02092b;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.title_dcgenenator{
    text-align: left;
}

.title_dcgenenator h1{
    font-weight: bold;
    text-align: start;
    margin-left: 50px;
    font-size: 2em;
    margin-left: 50px;
}

/* Contenedor del logo */
.logo img {
    height: 60px;
    margin-left: 40px;
  }
  
  /* Botones de menú y cerrar */
  .menu-btn, .close-btn {
    font-size: 24px;
    color: white;
    cursor: pointer;
    margin: 0 20px;
  }
  
  .close_user, .home{
    margin-right: 20px;
  }
  
  /* Contenedor de los iconos */
  .icon-container {
    display: flex;
    align-items: center;
  }
  
  /* Estilo del navbar */
  .navbar {
    position: fixed;
    left: -250px;
    top: 0;
    height: 100%;
    width: 250px;
    background-color: #02092b;
    overflow-y: auto;
    transition: left 0.3s;
  }
  
  /* Estilo de la lista del navbar */
  .navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Estilo de los enlaces de la lista */
  .navbar ul a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 15px 20px;
    border-bottom: 1px solid #111540;
  }
  
  /* Efecto hover en los enlaces de la lista */
  .navbar ul a:hover {
    background-color: #19266477;
  }
  
  /* Estilo de los iconos de los enlaces */
  .navbar ul a img {
    margin-right: 10px;
    width: 20px;
    float: left;
  }
  
  /* Estilo de los elementos de la lista */
  .navbar ul a li {
    display: flex;
    align-items: center;
  }
  
  /* Mostrar navbar cuando está activo */
  .navbar.active {
    left: 0;
  }

  main {
    padding: 60px 20px 20px;
    padding-top: 100px;
  }

.title_dcgenenator {
    text-align: center;
}

.doc_info {
    margin-right: 50px;
    margin-left: 50px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input_container .form-group {
    flex: 1;
    margin-right: 50px;
    margin-left: 50px;
}

.input_container .form-group:last-child {
    margin-right: 0;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.AgreBtn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.AgreBtn button {
    background-color: #02092b;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.AgreBtn button img {
    margin-right: 10px;
}

.tabla_Cont {
    margin-top: 20px;
    overflow-x: auto;
}

.tabla_Cont table {
    width: 100%;
    border-collapse: collapse;
}

.tabla_Cont th, .tabla_Cont td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
}

.tabla_Cont th {
    background-color: #f2f2f2;
}

.tabla_Cont .delete-row-btn {
    color: white;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: red;
    display: block;
    margin: 10 auto;
    height: 30px;
    border-radius: 5px;
    width: 30px;
}

.tabla_Cont .delete-row-btn-cell {
    border: none;
    text-align: center;
}

#checkboxFirmas {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#checkboxFirmas label {
    margin-right: 10px;
}

#firmaContainer1, #firmaContainer2 {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#firmaContainer1 h3, #firmaContainer2 h3 {
    text-align: center;
    margin-bottom: 20px;
}

#firmaContainer1 .input_container, #firmaContainer2 .input_container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#firmaContainer1 .form-group, #firmaContainer2 .form-group {
    flex: 1;
    margin-right: 10px;
}

#firmaContainer1 .form-group:last-child, #firmaContainer2 .form-group:last-child {
    margin-right: 0;
}

#firmaContainer1 canvas, #firmaContainer2 canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    color: white;
    text-align: center;
    padding-bottom: 10px;
  }
  
  footer .botones-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .botones-container a {
    text-decoration: none;
}
  
  footer .botones-container button {
    background-color: #02092b;
    border: none;
    color: white;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }

.oculto {
    display: none;
}

/* Ventana emergente */
.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

/* Contenido de la ventana modal */
.modal-content {
  color: white;
  background-color: #02092b;
  margin: 15% auto;
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
}

/* Enlaces en la ventana modal */
.modal-content a {
  display: block;
  padding: 10px 0;
  color: white;
  text-decoration: none;
  text-align: center;
}

/* Efecto hover en los enlaces de la ventana modal */
.modal-content a:hover {
  background-color: #19266477;
}

/* Botón cerrar en la ventana modal */
.close-btn {
  background-color: #02092b;
  font-size: 20px;
  font-weight: bold;
  border: none;
}

.close{
  color: red;
  font-size: 20px;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
