/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: themillion;
}

@font-face {
  font-family: themillion;
  src: url(/Fonts/Chivo-ExtraLight.ttf);
}

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #02092b;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Contenedor del logo */
.logo img {
  height: 60px;
  margin-left: 40px;
}

/* Botones de menú y cerrar */
.menu-btn, .close-btn {
  font-size: 24px;
  color: white;
  cursor: pointer;
  margin: 0 20px;
}

.close_user, .home{
  margin-right: 20px;
}

/* Contenedor de los iconos */
.icon-container {
  display: flex;
  align-items: center;
}

/* Estilo del navbar */
.navbar {
  position: fixed;
  left: -250px;
  top: 0;
  height: 100%;
  width: 250px;
  background-color: #02092b;
  overflow-y: auto;
  transition: left 0.3s;
}

/* Estilo de la lista del navbar */
.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Estilo de los enlaces de la lista */
.navbar ul a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 15px 20px;
  border-bottom: 1px solid #111540;
}

/* Efecto hover en los enlaces de la lista */
.navbar ul a:hover {
  background-color: #19266477;
}

/* Estilo de los iconos de los enlaces */
.navbar ul a img {
  margin-right: 10px;
  width: 20px;
  float: left;
}

/* Estilo de los elementos de la lista */
.navbar ul a li {
  display: flex;
  align-items: center;
}

/* Mostrar navbar cuando está activo */
.navbar.active {
  left: 0;
}

/* Estilo del contenido principal */
main {
  padding: 60px 20px 20px;
  padding-top: 100px;
}

.title_inven {
  text-align: left;
  margin-bottom: 20px;
}

.title_inven h1 {
  font-weight: bold;
  text-align: start;
  margin-left: 50px;
  font-size: 2em;
  margin-left: 50px;
}

.Info_Cinta {
  margin-left: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.Buscador {
  display: flex;
  align-items: center;
}

.Buscador p {
  margin-right: 10px;
}

.autocomplete {
  display: flex;
  align-items: center;
}

.autocomplete-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checkend_inv {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.checkend_inv label{
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.checkend_inv input[type="checkbox"] {
  margin-right: 5px;
}

.tabla_Cont {
  overflow-x: auto;
}

.tabla_invent table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tabla_invent th, .tabla_invent td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.tabla_invent th {
  background-color: #f2f2f2;
}

footer {
  color: white;
  text-align: center;
  padding: 10px 0;
}

footer .botones-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .botones-container button {
  background-color: #02092b;
  border: none;
  color: white;
  padding: 20px 20px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

/* Ventana emergente */
.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

/* Contenido de la ventana modal */
.modal-content {
  color: white;
  background-color: #02092b;
  margin: 15% auto;
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
}

/* Enlaces en la ventana modal */
.modal-content a {
  display: block;
  padding: 10px 0;
  color: white;
  text-decoration: none;
  text-align: center;
}

/* Efecto hover en los enlaces de la ventana modal */
.modal-content a:hover {
  background-color: #19266477;
}

/* Botón cerrar en la ventana modal */
.close-btn {
  background-color: #02092b;
  font-size: 20px;
  font-weight: bold;
  border: none;
}

.close{
  color: red;
  font-size: 20px;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
