body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: url('/Frontend/IMG/Back/IdxBack.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    color: #ffffff;
    width: 300px;
    margin-right: 40px; /* Ajuste del margen derecho */
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    background-color: transparent;
    border: solid 2px white;
    border-radius: 5px;
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    margin-top: 20px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #02092b;
    color: white;
    border: #02092b solid 2px;
}

#message {
    color: red;
}

/* Alineación central en dispositivos móviles */
@media (max-width: 767px) {
    body {
        justify-content: center;
        background: #02092b !important; /* Agregar !important para asegurar la prioridad */
        background-image: none; /* Quitar la imagen de fondo */
    }

    .container {
        margin: 0 auto;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    body {
        justify-content: center;
        background: #02092b !important; /* Agregar !important para asegurar la prioridad */
        background-image: none; /* Quitar la imagen de fondo */
    }

    .container {
        margin: 0 auto;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    color: white;
    background-color: transparent;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid white;
    width: 80%;
    max-width: 500px; /* Ancho máximo para la ventana emergente */
    border-radius: 10px; /* Bordes redondeados */
}

.modal-content input{
    color: white;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
    border: 0px;
}

button.modal-button {
    display: block;
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-align: center;
}

button.modal-button:hover {
    background-color: #02092b;
    color: white;
    border: #02092b solid 2px;
}


/*Devoloped by Brandon Ventura*/
